/* DiseasesPage.css */

.diseases-page {
  text-align: center;
  padding: 20px;
}

.diseases-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disease-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.disease-item h2 {
  color: #333;
}

.disease-item p {
  margin: 8px 0;
  color: #666;
}

.location-button {
  display: flex;
  gap: 30px;
}